{% extends "oldman/dashboard/base.html" %}
{% from "oldman/dashboard/partials/shell.html" import dashboard_main_frame, dashboard_sidebar with context %}

{% block dashboard_language %}{{ dashboard_current_language(request) }}{% endblock %}

{% block title %}Oldman{% endblock %}

{% block dashboard_head_meta %}
  <meta name="csrf-token" content="{{ dashboard_csrf_token(request) }}">
  <meta name="oldman-asset-base" content="{{ bundle_asset_base_url(app_main_bundle) }}">
  {% if dashboard_user_events_url %}
    <meta name="oldman-user-events-url" content="{{ dashboard_user_events_url }}">
  {% endif %}
{% endblock %}

{% block dashboard_head_assets %}
  {{ bundle_client(app_main_bundle) }}
  {% block page_assets %}{% endblock %}
  {{ bundle_modulepreload(app_main_bundle) }}
  {{ bundle_styles(app_main_bundle) }}
  {{ bundle_script(app_main_bundle) }}
{% endblock %}

{% block dashboard_sidebar %}
  {% call dashboard_sidebar("/dashboard", _("Menu"), scroll_container_id="scrollbar", two_column_menu=true) %}
    {% include "partials/sidebar.html" %}
  {% endcall %}
{% endblock %}

{% block dashboard_topbar %}
  {% include "partials/topbar.html" %}
{% endblock %}

{% block dashboard_content %}
  {% call dashboard_main_frame() %}
    {{ super() }}
  {% endcall %}
{% endblock %}
